/*
---- THIS IS THE VERTICAL ONE ---
*/

body{
	font-family: sans-serif;
}

div#nav{
	position: fixed;
	height: 150px;
	width: 100%;
	left: 0px;
	top: 0px;
	background-color: #ccc;
	margin: none;
	padding: none;
	z-index: 1;
}

.button{

	width: 24.6%;
	height: 99%;
	background-color: #AAA;
	text-align: center;
	border: none;
	vertical-align: middle;
	font-family: 'FontAwesome';

}

.icon{
	position: relative;
	top: 40%;
	vertical-align: middle;
	font-family: 'FontAwesome';
	font-size: 800%;
}

.top-icon{

	position: fixed;
	left: 50%;

}

.button:hover{

	background-color: #DAA;
}

.button:active{

	background-color: #AAD;
}

#content{
	position: fixed;
	width: 100%;
	height: 90%;
	left: 0px;
	top: 150px;
}
